@font-face {
	font-family: 'neon-tubes-2-regular';
	src:
		url('/fonts/neon.otf') format('woff'),
		url('/fonts/neon.otf') format('opentype'),
		url('/fonts/neon.otf') format('truetype');
}

.hidden {
	display: none;
}

a[href^='https'] {
	color: rgb(88, 205, 255);
	text-decoration: none;
}
